* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent potential scrollbars on body */
}

body {
  font-family: sans-serif;
}

#app {
  height: 100%; /* Ensure #app takes full height */
  width: 100%; /* Ensure #app takes full width */
} 